<h1>{{title}}</h1>
<hr>
<nav>
  <ul>
    <li>
      <a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a>
    </li>
    <li>
      <a [routerLink]="['/fruta']" [routerLinkActive]="['activado']">Fruta</a>
    </li>
    <li>
      <a [routerLink]="['/verdura']" [routerLinkActive]="['activado']">Verdura</a>
    </li>
    <li>
      <a [routerLink]="['/empleado']" [routerLinkActive]="['activado']">Empleado</a>
    </li>
    <li>
      <a [routerLink]="['/contacto']" [routerLinkActive]="['activado']">Contacto</a>
    </li>
  </ul>
</nav>
<!--
<fruta />
<hr />
<fruta />
<verdura />
<empleado-tag />
-->
<hr>
<router-outlet />