/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, Helvetica, sans-serif;
}
.activado {
    font-weight: bold;
    background: lightseagreen;
    color: white;
}
.bold{
    font-weight: bold;
}